// Button styles
@use 'sass:color';
@use '../base/variables' as vars;

.button {
  display: inline-block;
  padding: 0.625rem 1.25rem; /* 10px 20px in rem */
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.25rem; /* 4px in rem */
  font-weight: 500;
  transition: background-color 0.3s;
  
  &:hover {
    background-color: color.adjust(vars.$primary-color, $lightness: -5%);
    text-decoration: none;
  }
}
