// Home page styles

.home-page {
  text-align: center;
  max-width: 50rem; /* 800px in rem */
  margin: 0 auto;
  
  .featured-terms {
    margin: 2.5rem 0; /* 40px in rem */
  }
  
  .browse-all {
    margin-top: 2.5rem; /* 40px in rem */
  }
}

#header {
  background-color: var(--secondary-color);
}
